/* HTML Element */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;

}


/* Container */
.container-fluid {
  padding:  7% 15%;
}


/* Navigation Bar */

.navbar {
  padding-bottom: 4rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}


/* Title */
#title .container-fluid {
  padding:  3% 15% 7%;
  background-color: #ff4c68;
  color: white;
}

.title-text {
  text-align: left;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

img {
  width: 40%;
  rotate: 25deg;
}


/* Feature Section */

#features .container-fluid {
  background-color: #fff;
}

#features i {
  color: #ef8172;
}

#features .container-fluid div {
  padding: 0 5%;
}

#features p {
  line-height: 1.5;
}

#features h3 {
  font-size: 1.75rem;
}


/* Download Section */

#download .container-fluid {
  color: #fff;
  background-color: #ff4c68;
}

#download .btn {
  margin: 5% 3% 5% 0%;
  font-size: 1.25rem;
  margin: 25 auto;
}

/* Footer Section*/
#footer {
  background-color: #fff;
  padding-left:0%;
  padding-bottom: 7%;
}

#footer ul li {
  display: inline-block;
  margin: 5px;
}

#footer p {
  color: #8f8f8f;
  margin: 25px;
  
}